.idea
venv
*/data/*
cola_*
*/model
*/wandb
bert_for_code.*
runs
output
*.pyc
__pycache__
**/VSM_baseline/*.csv
**/classify_model/*.csv
**/retrival_model/*.csv
**/debug_output/
evaluation/
*.log
debug_output/*
results
*.dat
credentials.cfg
!**/crc/evaluation
we
pretrained_model
*.o*
cached_*